p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.ng-valid[required], .ng-valid.required{
    border-bottom: 5px solid #42a948;
}
.ng-invalid:not(form) {
    border-bottom: 5px solid #a94442;
}
.table-users{
    font-family: 'Roboto', sans-serif;
}
.form-create{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    &__input-title{
        display: flex;
        justify-content: center;
        font-weight: 700;
        margin-top: 7px;
        margin-bottom: 4px;
        font-size: 15px;
    }
    button{
        margin-top: 10px;
    }
}